.headerStyle {
  background-color: black;
  width: 100%;
  min-width: 150px;
  top: 0;
  z-index: 1000;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 3px 5px black;
  position: fixed;
}

.headerStyle ul {
  list-style: none;
}

.iconAvatar {
  font-size: x-large;
  color: white;
}

.btnStyle {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.btnStyle:hover {
  cursor: pointer;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 570px) {
  .btnStyle {
    display: none;
  }
}
