.dropbtn {
  background-color: black;
  color: white;
  /* min-width: 160px; */
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
  max-width: 150px;
  overflow: hidden;
}

/* .space {
  margin-left: 10px;
} */

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
  border-radius: 20px;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
} */

.dropdown-content button {
  border: none;
  text-align: start;
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.subBtnMenu:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
