.gridHome {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 50px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .gridHome {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .gridHome {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .gridHome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .gridHome {
    grid-template-columns: repeat(1, 1fr);
  }
}
