.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: auto;
  width: 80%;
  padding: 15px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.childContainer {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}
.poster {
  max-height: 350px;
  min-width: 210px;
}
.filmTitle {
  align-self: center;
  font-size: 35px;
  font-style: oblique;
  font-weight: bold;
}

.gridActor {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.noteStyle {
  display: inline-block;
  padding: 5px;
  width: auto;
  height: auto;
  background-color: lightgreen;
  border-radius: 5px;
  border: 1px solid black;
}

@media screen and (max-width: 720px) {
  .container {
    flex-wrap: wrap;
    padding: 5px;
  }
  .poster {
    width: 250px;
  }
  .container {
    width: 60%;
    min-width: 280px;
  }
  .filmTitle {
    width: 100%;
    margin-top: 10px;
    font-size: 25px;
  }
}
