.btnIconMenu {
  background-color: black;
  height: 42px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-right: 30px;
}

.iconStyleMenu {
  color: azure;
  font-size: x-large;
}
