.searchBar {
  text-align: left;
  border: none;
  height: 40px;
  width: 700px;
  min-width: 155px;
  padding-left: 25px;
  margin-left: 15px;
  background-color: white;
}

.btnSearch {
  height: 42px;
  min-width: 50px;
  border: none;
  padding: 1px;
  cursor: pointer;
  background: gold no-repeat fixed center;
}

.iconSearch {
  font-size: x-large;
}

.searchBar:focus {
  border: 1px solid gold;
}

.btnSearch:hover {
  transform: scale(1.1);
}

.flexContainerSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1150px) {
  .searchBar {
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .searchBar {
    width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .searchBar {
    width: 150px;
  }
}
