.searchBar {
  text-align: left;
  border: none;
  height: 40px;
  flex-grow: 1;
  padding-left: 50px;
  margin-left: 50px;
  background-color: white;
}

.btnSearch {
  height: 42px;
  min-width: 50px;
  margin-right: 10px;
  border: none;
  padding: 1px;
  cursor: pointer;
  background: gold no-repeat fixed center;
}
