.btnCircleSide {
  border-radius: 50%;
  background-color: black;
  color: white;
  height: 50px;
  width: 50px;
  border: none;
  opacity: 0.5;
  right: -20px;
  top: 50%;
  cursor: pointer;
  position: fixed;
  display: none;
}

.btnCircleSide:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.iconSideBare {
  font-size: x-large;
  margin-right: 10px;
}
