.sideBar {
  margin-top: 80px;
  width: 150px;
  height: 95vh;
  position: fixed;
  right: 0;
  background-color: black;
  opacity: 0.8;
  transition: width 0.5s;
  z-index: 800;
  box-shadow: 0px 3px 5px black;
}

.displayBtnSide {
  display: none;
}

.btnSideBar {
  background: black;
  color: aliceblue;
  border: none;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.btnSideBar:hover {
  cursor: pointer;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.backArrIcon {
  font-size: 50px;
}

.ulSideBar {
  padding-left: 0px;
  margin-top: 40px;
  list-style: none;
}

@media screen and (max-width: 570px) {
  .displayBtnSide {
    display: block;
  }

  .ulSideBar {
    margin-top: 20px;
  }
}
