.formStyle {
  width: 500px;
  padding: 30px;
  background: #ffffff;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  position: fixed;
  z-index: 9;
  display: none;
}

.title {
  background: #4d4d4d;
  text-transform: uppercase;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.styleBox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.btnClose {
  border: none;
  background-color: #4d4d4d;
  color: #797979;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.btnClose:hover {
  transform: scale(1.1);
}

.iconCloseLog {
  font-size: 35px;
}

.btnSubmit {
  margin-top: 20px;
  width: 100%;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.btnSubmit:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
}

.accountLink {
  text-align: center;
  margin-top: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
